.container {
  background-color: #20232f;
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 200px !important; */
}

.first-bit {
  background-color: #20232f;
  clip-path: polygon(0 0, 100% 0,100% 0, 0 100%);
}

.second-bit {
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.first-bit,
.second-bit {
  position: absolute;
  width: 120%;
  height: 100%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.blue {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.green {
  background: linear-gradient(to right, tomato 0%, gold 100%);
}

.yellow {
  background: linear-gradient(to right, rgb(252, 255, 79) 0%, rgb(56, 212, 14) 100%);
}

.big-number {
  font-size: 140px;
  color: white;
}
